:root {
  --background-color: #686de0;
  --link-color: #686de0;
  --text-color: #ffffff;
}
body {
  margin: 0;
  padding: 0;
}
/* header */
header {
  margin-bottom: 200px;
}
.logo {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 80px 213px;
}
.hero-section {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hero-section-content h1 {
  width: 582px;
  font-size: 52px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 70px;
}
.hero-section-content p {
  width: 505px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 26px;
}
.hero-section-content a {
  text-decoration: none;
  width: 196px;
  height: 44px;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 10px 24px;
  border-radius: 41px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 24px;
}
.hero-section-content a .fa-arrow-right {
  transform: translateX(3px);
  transition: transform 200ms linear;
  line-height: 44px;
}
.hero-section-content a:hover .fa-arrow-right {
  transform: translateX(7px);
}
.hero-section-content a:hover {
  background-color: transparent;
  border: 1px solid var(--background-color);
  color: var(--background-color);
  transition: all 200ms linear;
}
/* brands section */
.brands {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}
.brands-img {
  width: 1110px;
  padding: 40px 0;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  display: flex;
  justify-content: space-between;
}
/* popular section */
.popular-headline {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 100px;
}
.popular-flex {
  display: flex;
  justify-content: center;
}
.popular-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
.popular-card {
  width: 329px;
  height: 476px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card-body h1 {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.card-body h2 {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.card-body .fa-star,
.fa-star-half-alt {
  font-size: 1rem;
  color: orange;
}
.card-body span {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-left: 10px;
}
.card-body p {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: gray;
}
.popular-link {
  color: var(--link-color);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  position: relative;
  top: 60px;
  left: 1495px;
}
.popular-link .fa-arrow-right {
  padding-left: 7px;
}
/* creative section */
.creative {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}
.creative-section {
  width: 768px;
  height: 480px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
}
.creative-left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.creative-left-side h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
.creative-left-side input {
  width: 284px;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  background-color: #eeeeee;
}
.creative-left-side a {
  text-decoration: none;
  color: #333333;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.creative-left-side .sing-in-btn {
  border-radius: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.creative-right-side {
  width: 50%;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.creative-right-side h1 {
  font-size: 32px;
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
}
.creative-right-side p {
  font-size: 14px;
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
  width: 304px;
  margin-bottom: 40px;
}
.creative-right-side a {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 20px;
  color: var(--text-color);
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
/* foooter start */
footer {
  margin-top: 200px;
  height: 400px;
  background-color: #0a0826;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer h1 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: var(--text-color);
}
footer p {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: var(--text-color);
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}
.footer-icons {
  width: 176px;
  display: flex;
  justify-content: space-between;
}
.footer-icons .fa-facebook-f,
.fa-youtube,
.fa-instagram,
.fa-twitter {
  font-size: 2rem;
  color: var(--text-color);
}
